.marquee-text {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    animation: pulse 3s infinite alternate, colorChange 3s infinite alternate, moveLeftToRight 15s linear infinite;
}

/* انیمیشن حرکت از چپ به راست */
@keyframes moveLeftToRight {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

/* انیمیشن پالس */
@keyframes pulse {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
}

/* انیمیشن تغییر رنگ */
@keyframes colorChange {
    0% { color: #ff0000; }
    50% { color: #00ff00; }
    100% { color: #0000ff; }
}

/* حالت هاور: فقط توقف حرکت، بدون تغییر در رنگ و مقیاس */
.marquee-text:hover {
    animation-play-state: paused; /* توقف انیمیشن */
    animation-duration: 15s; /* حفظ سرعت معمولی حرکت در هاور */
}
